body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #43cea2, #185a9d);
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

#map {
  height: 400px;
  border-radius: 15px;
  margin: 20px 0;
}

.result {
  background: #f4f6f8;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
}
